.form_section{
    width: 80%; 
    height: max-content;
    text-align: center;
    color: white;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);



}

.address_form input, select{
    grid-column: 2/3;
    width: 100%;
    height: 35px;
    margin-top: 10px;
}


.address_form{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 50%;
    height: fit-content;
}

p{
    grid-column: 1/2;
    font-size: 18px;
    font-weight: 300;

}
h2{
   grid-column: 2/3;
}
.address_form input, select{
    margin-left: 30px;

}

.address_form button{
    background-color: rgb(209, 209, 209);
    opacity: 70%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    border-radius: 15px;
    border: none;
    padding: 15px;
    min-height: 30px;
    grid-column: 1/3;
    margin-top: 15px;
    top: 50%;
    margin-bottom: 20px;
;

}

.address_form button:hover {
    background-color: var(--hover-color);
    transition: 0.3s ease;
}

.address_form input, select{
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(199, 199, 199);

}

.address_form i{
    font-size: 15px;
    font-weight: 200;
    margin-left: 10px;
    transition: var(--tran-02);
}

.address_form i:hover{
    transform: translateX(5rem);
    
}







